<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio con spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

</head>
<header>
    <h3>Graph recomendation</h3>
    <nav>
        <ul>
            <li><a href="/"><h4>Inicio</h4></a></li>
            <li><a href="/menu"><h4>Playlists</h4></a></li>
            <li><a href="/logout"><h4>Cerrar sesion</h4></a></li>
        </ul>
</header>
<body>
    <h1>Bienvenid@, por favor selecciona una playlist para poder analizarla</h1>
    <table id="playlists">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Publico</td>
                <td>Colaborativo</td>
                <td>Imagen</td>
                <td>Tracks</td>
                <td>Analizar</td>
            </tr>
        </thead>
        <tbody id="bodyPlaylist">

        </tbody>
    </table>
    <button id="back">Volver a las playlists</button>
    <table id="table_datos">      
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Tipo album</td>
                <td>Total canciones</td>
                <td>Album</td>
                <td>Fecha lanzamiento</td>
                <td>Artista</td>
                <td>Duracion</td>
                <td>Es explicita?</td>
                <td>Popularidad</td>
                <td>Rank Dezzer</td>
                <td>BPM</td>
                <td>Gain</td>
                <td>Generos</td>
            </tr>
        </thead>
        <tbody id="bodyDatos">

        </tbody>

    </table>
    <div id="network"></div>
    <script src="https://unpkg.com/vis-network@9.1.2/dist/vis-network.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/graphlib/2.1.8/graphlib.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>